/* 
Dylan Burnham
COMP 205
Assignment 3
*/

:root {
    --orange: #ffa500;
    --lightorange: #ffdbbb;
    --lightblue: #f0f8ff;
    --darkblue: #00008b;
    --darkbluehover: #0000c3;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
}

body {
    margin: 115px 0 0 0;
    min-height: calc(100vh - 195px);
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 300px 300px;
}

main {
    background-color: var(--lightblue);
    max-width: 80rem;
    margin: 0 auto;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar ::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: Script MT, Brush Script Std, cursive;
    margin: 0.5rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

h2 {
    background-color: var(--orange);
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 0;
    border-bottom: 2px solid black;
}

p {
    font-size: 1.1rem;
}

main {
    padding: 1rem;
}

header {
    text-align: center;
    background-color: var(--orange);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid black;
    height: 115px;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: var(--darkblue);
}

header a:hover {
    color: var(--darkbluehover);
}

footer {
    padding: 0 1rem;
    position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    background-color: var(--orange);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    text-align: center;
}

footer h4,
footer h5 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

button {
    background-color: var(--orange);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: inset -2px -2px 2px #00000030;
    font-weight: bold;
}

button i {
    font-size: 1.2rem;
}

button:hover {
    background-color: #ffb52c;
}

button:active {
    background-color: var(--orange);
    box-shadow: inset 2px 2px 2px #00000030;
}
