/* 
Dylan Burnham
COMP 205
Assignment 3
*/

/* Index Page Specfic Styles */
#hero-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#hero-container {
    position: relative;
}

#hero-overlay {
    background-color: var(--lightorange);
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--orange);
    text-align: center;
}

#hero-overlay h4 {
    margin: 0.5rem 0;
}

.content-container {
    background-color: var(--lightorange);
    padding: 1rem;
}

.content-container h4 {
    margin: 0.5rem 0;
}

.content-container h4 span {
    font-weight: normal;
}

.flex-container {
    display: flex;
    background-color: var(--lightorange);
}

.flex-container img {
    height: auto;
    width: 40%;
    object-fit: cover;
}

.flex-container-content {
    padding: 1rem;
}

.review-container {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
}

.review-content {
    padding: 0 1rem;
}

.review-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    padding-right: 1rem;
    min-width: 15rem;
}

.review-profile-info h4 {
    text-decoration: underline;
}

.review-profile-info img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid black;
}

#review-accordian {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: start;
    padding: 0.5rem;
}

table {
    width: 100%;
}

#game-section {
    display: flex;
    align-items: flex-start;
}

#game-info-container {
    margin: 0 1rem;
}

#game-info-section {
    padding: 0 1rem;
}

.game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: auto;
}

.game-tile {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border: 1px solid black;
}

#game-won-section {
    padding: 2rem;
    display: none;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    color: lightgrey;
    background-color: #222222cc;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#order-popup {
    position: fixed;
    bottom: -20rem;
    background-color: var(--lightorange);
    border: 5px solid black;
    border-radius: 1rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    transition: bottom 0.5s ease-in-out;
}

#order-popup h4 {
    margin: 0.25rem 0;
    padding: 0;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    #game-section {
        flex-direction: column;
        align-items: center;
    }

    #game-grid {
        margin-bottom: 1rem;
    }

    .review-container {
        flex-direction: column;
    }

    .review-profile-info {
        border-right: none;
        border-bottom: 2px solid black;
        padding: 0 0 1rem 0;
    }
}

@media only screen and (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container img {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .game-tile {
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 500px) {
    .game-tile {
        height: 85px;
        width: 85px;
    }
}

@media only screen and (max-width: 400px) {
    .game-tile {
        height: 75px;
        width: 75px;
    }
}

@media only screen and (max-width: 350px) {
    .game-tile {
        height: 70px;
        width: 70px;
    }
}
