/* 
Dylan Burnham
COMP 205
Assignment 3
*/

/* Index Page Specfic Styles */
.advertisement-container {
    display: flex;
    background-color: var(--lightorange);
    margin-bottom: 1rem;
}

.advertisement-container img {
    height: auto;
    width: 40%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.advertisement-content {
    padding: 0 1rem;
}

.content-container {
    background-color: var(--lightorange);
    padding: 1rem;
    margin-bottom: 1rem;
}

.content-container h4 {
    margin: 0.5rem 0;
}

.content-container h4 span {
    font-weight: normal;
}

.review-container {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
}

.review-content {
    padding: 0 1rem;
}

.review-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    padding-right: 1rem;
    min-width: 15rem;
}

.review-profile-info h4 {
    text-decoration: underline;
}

.review-profile-info img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid black;
}

#review-accordian {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: start;
    padding: 0.5rem;
}

table {
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    .advertisement-container {
        flex-direction: column;
    }

    .advertisement-container img {
        width: 100%;
        height: 300px;
    }
}
