/* 
Dylan Burnham
COMP 205
Assignment 3
*/

/* Order Page Specific Styles*/
#form-content-container {
    background-color: var(--lightorange);
    padding: 1rem;
}

select {
    height: 2rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    width: 10rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#pizza-type-select {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f8bb8f;
}

#build-your-own-selection {
    display: none;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f8b48f;
}

#crust-type-selection {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fdc48b;
}

#soda-selection {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fdc48b;
}

#wing-selection {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fdc48b;
}

.number-select {
    height: 1.5rem;
    border-radius: 0.5rem;
}

#order-string-input {
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fdcd8b;
}

#order-name-field,
#order-phone-field {
    margin-bottom: 0.5rem;
    height: 1.2rem;
    width: 100%;
    border-radius: 0.5rem;
}

#order-warning {
    display: none;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: lightyellow;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #ffcd89;
}

#upsell-modal {
    display: none;
}

#modal-background {
    position: fixed;
    z-index: 1001;
    background-color: #00000030;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#modal {
    background-color: var(--lightorange);
    z-index: 1002;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal-content {
    padding: 1rem;
}

.upsell-section {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem 0;
    display: flex;
}

.upsell-section img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    vertical-align: bottom;
}

.upsell-section-text {
    padding: 0 0.5rem;
}

.upsell-section-text p {
    margin: 0.75rem 0.25rem;
}
